# FOLD0

In [2]:
import pandas as pd
md0 = [0.705, 0.789, 0.745, 0.924]
rb0 = [0.706, 0.777, 0.7402, 0.915]
bb0 = [0.45, 0.51, 0.48, 0.83]
t1 = pd.DataFrame({'MDBERTA' : md0, 'RUBERT' : rb0, 'BERT-BASE' : bb0}, index=['PR','RC','F1','AC'], )

In [3]:
md1 = [0.741, 0.793, 0.766, 0.923]
rb1 = [0.732, 0.800, 0.764, 0.930]
bb1 = [0.717, 0.790, 0.752, 0.911]
t2 = pd.DataFrame({'MDBERTA' : md1, 'RUBERT' : rb1, 'BERT-BASE' : bb1}, index=['PR','RC','F1','AC'], )

In [4]:
md2 = [0.711, 0.812, 0.758, 0.903]
rb2 = [0.718, 0.823, 0.767, 0.905]
bb2 = [0.70, 0.820, 0.759, 0.908]
t3 = pd.DataFrame({'MDBERTA' : md2, 'RUBERT' : rb2, 'BERT-BASE' : bb2}, index=['PR','RC','F1','AC'], )

In [5]:
md3 = [0.746, 0.790, 0.767, 0.896]
rb3 = [0.729, 0.805, 0.766, 0.889]
bb3 = [0.747, 0.803, 0.774, 0.891]
t4 = pd.DataFrame({'MDBERTA' : md3, 'RUBERT' : rb3, 'BERT-BASE' : bb3}, index=['PR','RC','F1','AC'], )

In [6]:
md4 = [0.749, 0.833, 0.789, 0.916]
rb4 = [0.750, 0.773, 0.761, 0.883]
bb4 = [0.724, 0.790, 0.756, 0.899]
t5 = pd.DataFrame({'MDBERTA' : md4, 'RUBERT' : rb4, 'BERT-BASE' : bb4}, index=['PR','RC','F1','AC'], )

In [10]:
from IPython.display import display_html
from itertools import chain,cycle
def display_side_by_side(*args,titles=cycle([''])):
    html_str=''
    for df,title in zip(args, chain(titles,cycle(['</br>'])) ):
        html_str+='<th style="text-align:center"><td style="vertical-align:top">'
        html_str+=f'<h2 style="text-align: center;">{title}</h2>'
        html_str+=df.to_html().replace('table','table style="display:inline"')
        html_str+='</td></th>'
    display_html(html_str,raw=True)

In [11]:
display_side_by_side(t1,t2,t3, titles=['FOLD0','FOLD1', 'FOLD2'])

,MDBERTA,RUBERT,BERT-BASE
PR,0.705,0.7060,0.45
RC,0.789,0.7770,0.51
F1,0.745,0.7402,0.48
AC,0.924,0.9150,0.83
,MDBERTA,RUBERT,BERT-BASE
PR,0.741,0.732,0.717
RC,0.793,0.800,0.790
F1,0.766,0.764,0.752
AC,0.923,0.930,0.911
,MDBERTA,RUBERT,BERT-BASE
PR,0.711,0.718,0.700
RC,0.812,0.823,0.820
F1,0.758,0.767,0.759
AC,0.903,0.905,0.908

In [12]:
display_side_by_side(t4,t5, titles=['FOLD3','FOLD4'])

,MDBERTA,RUBERT,BERT-BASE
PR,0.746,0.729,0.747
RC,0.790,0.805,0.803
F1,0.767,0.766,0.774
AC,0.896,0.889,0.891
,MDBERTA,RUBERT,BERT-BASE
PR,0.749,0.750,0.724
RC,0.833,0.773,0.790
F1,0.789,0.761,0.756
AC,0.916,0.883,0.899

In [15]:
meanf1_md = (md0[2] + md1[2] + md2[2] + md3[2] + md4[2])/5
meanf1_rb = (rb0[2] + rb1[2] + rb2[2] + rb3[2] + rb4[2])/5
meanf1_bb = (bb0[2] + bb1[2] + bb2[2] + bb3[2] + bb4[2])/5
print('MEAN F1 MDBERTA - ' + str(meanf1_md))
print('MEAN F1 RUBERT - ' + str(round(meanf1_rb,3)))
print('MEAN F1 BERT-BASE - ' + str(round(meanf1_bb,3)))

MEAN F1 MDBERTA - 0.765
MEAN F1 RUBERT - 0.76
MEAN F1 BERT-BASE - 0.704